:root {
    --Poppins: "Poppins";
    --background-header: #af9eab;
    --letras-azul-fuerte: #0A3871;
    --background-main: #e5e5e5;
    --boton-celeste: #35bfd4;
    --letras-blanco: #f5f5f5;
}

.body {

}